#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 1 100vh;
  display: flex;
  gap: 1rem;
  align-self: stretch;
}

#left-pannel {
  text-align: left;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#right-pannel {
  padding: 0.4rem;
  flex: 1 0 320px;
}

#cards-contr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 12px 2px #00000020;
  transition: background-color 0.3s ease-in-out;
}

.cards:hover {
  background-color: #b5ffb5;
}

.pokemon-name {
  padding: 0.3rem 0;
}

footer,
footer a {
  display: inline-flex;
  align-items: center;
}

footer {
  margin-top: 1rem;
}

@media screen and (width < 600px) {
  main {
    flex-direction: column;
  }

  #scores-contr-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 4px 1px #00000020;
    border-radius: 0;
  }
  #scores-contr-wrapper h2 {
    display: none;
  }

  footer {
    margin-bottom: 2.5rem;
  }
}

@media screen and (width < 400px) {
  #cards-contr {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}