.clickable {
  cursor: pointer;
}

.rounded-white-bg {
  flex: 0 1 auto;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: white;
}

#scores-contr > span:nth-child(2n)::before {
  content: "|";
  margin: 0 1.5ch;
}
