svg {
  width: 1.8rem;
}

.icon-text-wrapper {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.rounded-white-bg {
  flex: 0 1 auto;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: white;
}

#instructions-contr p {
  margin: 0;
}

#sounds-contr {
  align-self: flex-start;
  gap: 0.2rem;
}

#error-msg {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #bf5858;
  color: white;
  box-shadow: 0 3px 3px 1px #00000020;
}
#error-msg[data-error] {
  display: block;
}

#scores-contr > span:nth-child(2n)::before {
  content: "|";
  margin: 0 1.5ch;
}

#rings-contr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.rings {
  border-radius: 50%;
  position: fixed;
  border-color: #009149 !important;
}

.rings:first-child {
  border: 5px solid;
  height: 150px;
  width: 150px;
  animation: ring1 2s ease-in-out infinite;
}

.rings:last-child {
  border: 8px solid;
  height: 60px;
  width: 60px;
  animation: ring2 1.5s ease-in-out infinite;
}

@keyframes ring1 {
  from {
    scale: 1;
    opacity: 0.2;
  }

  50% {
    scale: 0.5;
    opacity: 0.1;
  }

  to {
    scale: 1;
    opacity: 0.2;
  }
}

@keyframes ring2 {
  from {
    scale: 2;
    opacity: 0.2;
  }

  50% {
    scale: 1;
    opacity: 0;
  }

  to {
    scale: 2;
    opacity: 0.2;
  }
}
